@{
    ViewData["Title"] = "Community Proposed Restaurants";
}

@model IEnumerable<_413_Assignment4.Models.Suggestion>

    <br />

<div class="text-body">

    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Restaurant Suggestion</th>
                <th>Favorite Dish</th>
                <th>Restaurant Phone #</th>
            </tr>
        </thead>

        <tbody>
            @foreach (_413_Assignment4.Models.Suggestion s in Model)
            {
                <tr>
                    <td>@s.Name</td>
                    <td>@s.RauntName</td>
                    <td>@s.FavDish</td>
                    <td>@s.Phone</td>
                </tr>
            }
        </tbody>

    </table>
</div>