@{
    ViewBag.Title = "Thank you for Your Submission";
}

@model _413_Assignment4.Models.Suggestion

<h5>Your response has been recorded</h5>

<div>
    Click <a asp-action="proposedRaunts">Here</a> to see the rest of the user suggested restauraunts
</div>